<h4>Latency:</h4>
<p>https://kriptogoldck.com/client</p>
<p><%= @pings[1] %></p>
<p>https://kriptogoldck.com/pools</p>
<p><%= @pings[2] %></p>
<p>Transactions</p>
<p><%= @pings[3] %></p>
<h4>Ping:</h4>
<p>min/avg/max/mdev </p>
<p><%= @pings[0].split[-2] %></p>
<h4>Online:</h4>
<p><%= @online %></p>